<h1>Welcome to {{app}}!</h1>
<br> Before you go out and play on {{app}}, please verify your email address.
<br>
<br> If you did not create a {{app}} account using this address, 
please contact us at {{emailContact}}
<br>
<br>

<a href="{{tokenUrl}}">Verify your account</a>
<br>
<br> or verify using this link:
<br> {{tokenUrl}}
<br>

<hr>
<br> Sent by <a href="/">{{app}}</a>